<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Disasters</title>
</head>

<body>

<!-- Navbar: Expandable for large screens (lg) --->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!--- Navigation bar main title - presented as header --->
    <a class="navbar-brand mb-0 h1" href="/index">
        <img src="/static/img/flood-icon.svg" width="25" height="25" class="d-inline-block align-top mr-1 mt-1" alt="">
        Disaster Response Project
    </a>
    <!--- You give the toogling behavior (activated/not activated) to the elements with id #navbarSupportedContent --->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!--- Collapse-enabled nav element - toggle behavior controlled by previous element  - width 100 --->
    <div class="navbar-collapse collapse w-100 dual-collapse2 navbarSupportedContent">
        <!--- Navigation bar main element - Aligned to the right --->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/jagutier75">
                    <img src="/static/img/githublogo.png" width="25" height="25" class="d-inline-block align-top mr-1" alt="">
                    Github
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://www.linkedin.com/in/jagutier75/">
                    <img src="/static/img/linkedinlogo.png" width="28" height="25" class="d-inline-block align-top mr-1" alt="">
                    LinkedIn
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <img src="https://github.com/jagutier75.png" alt="mdo" width="25" height="25" class="rounded-circle mb-2 mr-1">
                    Contact
                </a>
            </li>
        </ul>
    </div>
</nav>


<div class="jumbotron">
    <div class="container">
        <h1 class="text-center">Disaster Response Project</h1>
        <p class="text-center">Analyzing message data for disaster response</p>
        <hr />
        <div class="row">
            <div class="col-lg-12 form-group-lg">
                <form action="/go" method="get">
                    <input type="text" class="form-control form-control-lg" name="query" placeholder="Enter a message to classify">
                    <div class="col-lg-offset-2 text-center">
                        <button type="submit" class="btn btn-lg btn-primary mt-4 mb-4">Classify Message</button>
                    </div>
                </form>
            </div>
        </div>

        {% block message %}
        {% endblock %}
    </div>
</div>

{% block content %}
<div class="row">
    <div class="col page-header text-center">
        <h1 class="text-center">Overview of the Dataset</h1>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="container" style="height: 500px;">
            <div id="{{ids[2]}}"></div>
            <hr />
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="container" style="height: 500px;">
            <div id="{{ids[1]}}"></div>
            <hr />
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="container" style="height: 500px;">
            <div id="{{ids[3]}}"></div>
            <hr />
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="container" style="height: 500px;">
            <div id="{{ids[0]}}"></div>
            <hr />
        </div>
    </div>
</div>
{% endblock %}






<!-- Script for JQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
<!-- Scripts for Bootstrap: Popper and JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<!-- Script for Plotly using JS -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</body>

<footer>
    <script type="text/javascript">
        // plots the figure with id
        // id much match the div id above in the html
        var figures = {{figuresJSON | safe}};
        var ids = {{ids | safe}};
        for(var i in figures) {
            Plotly.plot(ids[i],
                figures[i].data,
                figures[i].layout || {});
        }

        // MAKE THE PLOTS RESPONSIVE
        (function() {
          var d3 = Plotly.d3;
          var WIDTH_IN_PERCENT_OF_PARENT = 100,
              HEIGHT_IN_PERCENT_OF_PARENT = 90;

          var gd3 = d3.selectAll(".responsive-plot")
              .style({
                width: WIDTH_IN_PERCENT_OF_PARENT + '%',
                'margin-left': (100 - WIDTH_IN_PERCENT_OF_PARENT) / 2 + '%',

                height: HEIGHT_IN_PERCENT_OF_PARENT + 'vh',
                'margin-top': (100 - HEIGHT_IN_PERCENT_OF_PARENT) / 2 + 'vh'
              });

          var nodes_to_resize = gd3[0]; //not sure why but the goods are within a nested array
          window.onresize = function() {
            for (var i = 0; i < nodes_to_resize.length; i++) {
              Plotly.Plots.resize(nodes_to_resize[i]);
            }
          };

        })();
    </script>
</footer>


</html>
